name: Invoke Lambda from GitHub Actions

on:
  push:
    branches: [ "main" ]

jobs:
  invoke-lambda:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Invoke Lambda
        run: |
          aws lambda invoke \
            --function-name arn:aws:lambda:us-east-2:772837503944:function:CallBedrockModel2 \
            --cli-binary-format raw-in-base64-out \
            --payload '{"source":"github","action":"push"}' \
            response.json

      - name: Show Lambda response
        run: cat response.json