name: first workflow action
on: push
jobs:
    first_job:
     runs-on: ubuntu-latest
     steps: 
     - name: checkout repo
       uses: actions/checkout@v6

     - name: welcome message
       run: echo "my first program"
     - name: List Files
       run: ls
     - name: Read File
       run: cat README.md


